@import url('css/bootstrap.min.css');

body {
    font-size: 100%;
}

#map{
    width: 89%;
    height: 500px;
    margin: 20px auto;
}

.invisible {
	display: none;
}

.fileUpload {
    margin-bottom: 30px;	
}

legend {
	margin-bottom: 0;
	display: block;
    width: 100%;
    margin-top: 50px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border-bottom: 2px solid transparent;
    border-left: 4px solid transparent;
    border-top: 2px;
    border-right: 2px;
    padding: 17px;
    border-style: solid;
    border-color: transparent;
    transition: all ease-in .4s;
    text-shadow: 0 3px 3px transparent;
}

legend:hover {
    color: #2B2B2B;
    border-style: solid;
    transition: all ease-out .2s;
    box-sizing: border-box;
    text-decoration: underline;
}

h1 {
    font-weight: 900;
    letter-spacing: -2px;
    font-size: 6em;
    font-family: Arial;
    color: rgba(0,0,0,0.84);
    margin-bottom: 10px;
}

h4 {
    font-size: 2.4em;
    font-weight: 900;
    font-family: Arial;
    color: rgba(0,0,0,0.57);
    letter-spacing: -1px;
}

p {
    font-size: 1.8em;
    
}

#table-data {
    height: 100%;
    width: 100%;
    font-size: 1em;
    margin: 50px 0;
    color: rgba(0,0,0,0.84);
}

#table-data tr:nth-of-type(2n+2) {
    background-color: whitesmoke;
}

#table-data tr:hover {
    background-color: lightgray;
}

.map-label {
    margin-right: 5px;
}

.image {
	height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.table>thead>tr>th, 
.table>tbody>tr>th, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>tbody>tr>td, 
.table>tfoot>tr>td {
    vertical-align: middle;
    padding: 2px;
}

.image img {
    height: auto;
    width: 100px;
}

.hidden {
    display: none;
}

.dropdown {
    border: 1px solid rgba(0,0,0,0.24);
    background-color: white;
    width: 60px;
}

.separator-select {
    margin-top: 30px;
}